<script>
console.log(intrebari);
</script>
<h1>Chestionar</h1>
<form>
  <% intrebari.forEach(function(intrebare, index) { %>
  <h2>Întrebarea <%= index + 1 %>: <%= intrebare.intrebare %></h2>
  <% intrebare.variante.forEach(function(varianta, index) { %>
    <label>
      <input type="radio" name="raspuns<%= index %>" value="<%= varianta %>"/>
      <%= varianta %>
    </label><br/>
  <% }) %>
<% }) %>

  <button type="submit">Trimite răspunsurile</button>
</form>

