<style>
    body {
    font-family: Arial, sans-serif;
  }
  #logoff{
  display: flex;
}
#logoff>p{
    margin:0.35rem;
}
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  
  label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  input[type="radio"] {
    margin-right: 0.5rem;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.25rem;
    font-size: 1.2rem;
    margin-left: 2rem;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  </style>
<% if (typeof utilizator !== 'undefined') { %>
    <div id="logoff">
    <p>Autentificat ca <%= utilizator %></p>
    <form method="post" action="/logout">
      <input type="submit" value="Deconectare">
    </form>
  </div>
  <p>Bine ai venit, <%= utilizator %>!</p>
  <% } else { %>
    <a href="/autentificare">Autentificare</a>
  <% } %>
  <button type="button" onclick="location.href='/creare-bd'">Creare BD</button>
  <button type="button" onclick="location.href='/inserare-bd'">Încarcare BD</button>
  <h1>Produse</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nume</th>
        <th>Descriere</th>
        <th>Preț</th>
      </tr>
    </thead>
    <tbody>
      <% produse.forEach(function(produs) { %>
        <tr>
          <td><%= produs.id %></td>
          <td><%= produs.nume %></td>
          <td><%= produs.descriere %></td>
          <td><%= produs.pret %> RON</td>
          <% if (utilizator) { %>
           <td><form action="/adaugare_cos" method="POST">
            <input type="hidden" name="id" value="<%= produs.id %>">
            <button>Adaugă în coș</button>
          </form></td> 
          <% } %>
        </tr>
      <% }); %>
    </tbody>
  </table>